@model IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
}
<a asp-action="Department" asp-action="Create" class="btn btn-primary">Create New Department </a>
@* 
<div class="mt-5 alert alert-dark">
    <h3>@TempData["TextTempMessage"]</h3>
</div> *@
@if(Model.Count()>0)
{
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(D => D.Code)</th>
            <th>@Html.DisplayNameFor(D => D.Name)</th>
            <th>@Html.DisplayNameFor(D => D.CreateAt)</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Code</td>
                <td>@department.Name</td>
                <td>@department.CreateAt</td>
                <partial name="_ActionButtonsPartialView" model="@department.Id.ToString()" />
            </tr>
        }
    </tbody>
</table>
}
else{
<div class="mt-5 alert alert-warning">
    <h3>There is no Department</h3>
</div>
}